<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="group_order_sub_customer" class="GroupOrder\Loop\SubCustomerLoop" />
        <loop name="group_order_main_customer" class="GroupOrder\Loop\MainCustomerLoop" />
        <loop name="group_order_sub_order" class="GroupOrder\Loop\SubOrderLoop" />
    </loops>

    <forms>
        <form name="group_order_sub_customer" class="GroupOrder\Form\SubCustomerForm" />
        <form name="group_order_sub_customer_login" class="GroupOrder\Form\SubCustomerLoginForm" />
    </forms>

    <hooks>
        <hook id="group_order.front.hook" class="GroupOrder\Hook\Front\FrontHook">
            <tag name="hook.event_listener" event="register.form-bottom" type="front" method="onRegisterFormBottom" />
            <tag name="hook.event_listener" event="account.additional" type="front" method="onAccountAdditional" />
            <tag name="hook.event_listener" event="account.javascript-initialization" type="front" method="onAccountJavaScript" />
            <tag name="hook.event_listener" event="main.footer-bottom" type="front" method="onMainBodyBottom" />
            <tag name="hook.event_listener" event="main.stylesheet" type="front" method="onMainHeadBottom" />
            <tag name="hook.event_listener" event="main.javascript-initialization" type="front" method="onMainJavascriptInitialization" />
            <tag name="hook.event_listener" event="login.main-bottom" type="front" method="onLoginMainBottom" />
        </hook>
        <hook id="group_order.back.hook" class="GroupOrder\Hook\Back\BackHook">
            <tag name="hook.event_listener" event="customer.edit-js" type="back" method="customerEditJs" />
        </hook>
    </hooks>

</config>
