{default_translation_domain domain='grouporder.fo.default'}

<div class="panel-body">
    <button class="btn btn-primary" id="show_create_sub_customer" title="{intl l='Create a new sub customer'}" data-toggle="modal">
        {intl l='Create a new sub customer'}
    </button>
</div>

{$section = $smarty.get.section|default:null}

<div class="col-md-12" id="create_sub_customer" {if $section=='create_sub_customer'}{else}hidden{/if} >
    {include
    file="includes/sub-customer-form.html"
    action="/GroupOrder/SubCustomer/CreateOrUpdate"
    create=true
    }
</div>

<div class="col-md-12">
    {loop type="group_order_sub_customer" name="account_group_order_sub_customer_loop" main_customer=$mainCustomerId|default:null}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    {$FIRSTNAME|default:null} {$LASTNAME|default:null}
                    <button class="btn btn-primary pull-right show_update_sub_customer" data-id="{$ID|default:null}">{intl l="Edit"}</button>
                </div>
            </div>
            <div class="panel-body table-responsive">
                <div id="update_sub_customer_{$ID|default:null}" {if $section=="update_sub_customer_$ID"}{else}hidden{/if}>
                    {include
                    file="includes/sub-customer-form.html"
                    action="/GroupOrder/SubCustomer/CreateOrUpdate/{$ID}"
                    create=false
                    update=true
                    }
                </div>

                <table class="table table-orders table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Order number</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {loop type="group_order_sub_order" name="sub_order_loop" sub_customer=$ID|default:null}
                        <tr>
                            <td>{$ORDER_NUMBER|default:null}</td>
                            <td>{$DATE->format('d-m-Y H:i:s')|default:null}</td>
                            <td>{$AMOUNT|default:null}</td>
                        </tr>
                    {/loop}
                    </tbody>
                </table>
            </div>
        </div>
    {/loop}
</div>



