{form_field field="main_customer_checkbox"}
    <div class="form-group group-main-customer clearfix">
        <div class="control-input col-xs-11 col-sm-9 col-xs-offset-1 col-md-offset-3">
            <div class="checkbox">
                <label for="{$label_attr.for|default:null}" class="control-label">
                    <input type="checkbox" name="{$name|default:null}" id="{$id|default:null}"> {$label|default:null}
                </label>
            </div>
        </div>
    </div>
{/form_field}