<div class="sub-customer-login">
    <h3>{intl l="Login as a Sub Customer" d="grouporder.fo.default"}</h3>
    {form name="group_order_sub_customer_login"}
        <form action="{url path="/login/sub-customer"}" method="post" class="col-md-6">

            {form_hidden_fields}
            <div class="form-group">
                {form_field field="login"}
                    <label for="{$label_attr.for|default:null}">{$label|default:null}</label>
                    <input type="text" id="{$id|default:null}" name="{$name|default:null}" class="form-control input-sm" required>
                {/form_field}
            </div>
            <div class="form-group">
                {form_field field="password"}
                    <label for="{$label_attr.for|default:null}">{$label|default:null}</label>
                    <input type="password" id="{$id|default:null}" name="{$name|default:null}" class="form-control input-sm" required>
                {/form_field}
            </div>
            <button type="submit" class="btn btn-primary">{intl l="Login" d="grouporder.fo.default"}</button>
        </form>
    {/form}
</div>